.footerStyle {
    text-align: center;
    font-size: 1.9vw;
    font-weight: 100;
    color: #2C2E2B;
    word-spacing: 3px;
    margin: 1.5em;
}

.pStyle {
    margin: 5px;
}

@media screen and (max-width:800px) {
    .footerStyle {
        font-size: 2vw;
    }
}